@import "./styles/defaults/colors";
@import "./styles/components/header";
@import "./styles/components/footer";
@import "./styles/defaults/breakpoints";

// Font import from Google fonts
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,600;1,400;1,800&family=Sedgwick+Ave+Display&display=swap');

// Body styling for all pages including font import above

body {
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
    background: url("../../images/bgsquare.jfif") no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
    color: $third-color;
}   