@import "../../styles/components/footer";
@import "../../styles/components/header";
@import "../../styles/defaults/colors";
@import "../../styles/defaults/breakpoints";
@import "../components/utils";
@import "../../style";

// Widths less than 650px

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .about-me {
        background-color:  rgb(58, 49, 139, 0.7);
        border-radius: 8px;
        margin: 4em auto;
        width: 65vw;
        box-shadow: 0 0 2em rgb(69, 69, 69);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em;
        flex-wrap: wrap;
        color: $third-color;
        text-align: center;

        .image-container {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .about-me-container {

            margin-top: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            section {
                margin: 1em auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .work-history, .education-history {
               
                    width: 90%;

                    h3 {
                        border-top: 1px solid $third-color;
                        border-bottom: 1px solid $third-color;
                        padding: 1em;
                    }

                    img {
                        width: 25px;
                        margin: 0;
                        box-shadow: none;
                    }
                }

                .education-history {

                    border-bottom: 1px solid $third-color;
                }

                #return-to-top-btn {

                    border: 1px solid $primary-color;
                    padding: 5px 10px;
                    border-radius: 12px;
                    color: $primary-color;
                    background-color: $third-color;
                    text-decoration: none;
                    font-weight: 400;
                    margin: 2em auto 0 auto;
                }
                }

                
            }

        h2 {
            font-size: 2em;
            width: 100%;
            text-decoration: underline;
        }

        .image-container {
            
            img {
                width: 60vw;
                border-radius: 50%;
                box-shadow: 0 0 2em rgb(58, 49, 139);
                margin-bottom: 2em;
            }

            .button-menu {

                display: flex;
                flex-direction: column;
                gap: 0.5em;
                width: 60vw;

                #resume-btn, #work-history-btn, #education-history-btn {
                    border: 1px solid $primary-color;
                    padding: 5px 10px;
                    border-radius: 12px;
                    color: $primary-color;
                    background-color: $third-color;
                    text-decoration: none;
                    font-weight: 400;
                }

            }

            #resume-btn:hover, #work-history-btn:hover, #education-history-btn:hover {

                background-color: $secondary-color;
                transition: 0.5s;
            }

        }

        
        }
    }

         
// Styling on screens 650px and wider

@media only screen and (min-width: $small) {
       
    main {
        max-width: 100vw;

        .about-me {
            width: 60vw;
            padding: 2em;
            flex-direction: column;

            .image-container {

                .button-menu {

                    max-width: 30vw;
                }
                
                img {
                    width: 300px;
                    height: 100%;
                }
            }

            .about-me-container {
                display: flex;
                justify-content: center;
                gap: 1em;
                margin: 1em;
                flex-wrap: wrap;
                align-items: center;
            }
        }
    }
}
   

// Styling for screens 1100px and wider
            
@media only screen and (min-width: $medium) {

    main {

        .about-me {
            padding: 3em;
            margin: 4em auto;

            h2 {
                border-bottom: 1px solid $third-color;
                text-decoration: none;
                width: 50vw;
                margin: 0 auto 2em auto;
                }

            .page-container {

                display: flex;

    
                .about-me-container {

                    padding-left: 350px;
                    text-align: left;

                    section {

                        text-align: center;

                        #return-to-top-btn {

                            width: 25%;
                            }
                    }
    
                    .about-me-text {
    
                        text-align: left;
                        }
                }

                .image-container {
                    width: 300px;
                    align-self: flex-start;
                    position: fixed;
                    margin-left: 1.5em;

                    img {

                        width: 300px;
                        height: 300px;
                    }

                    .button-menu {

                        width: 300px;
                    }

            }
            

        

            }

            
        }
    }
}