@import "../../styles/components/footer";
@import "../../styles/components/header";
@import "../../styles/defaults/colors";
@import "../../styles/defaults/breakpoints";
@import "../components/utils";
@import "../../style";

// Styling main

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .about-me {
        background-color:  rgb(58, 49, 139, 0.7);
        border-radius: 8px;
        margin: 4em auto 2em auto;
        width: 65vw;
        box-shadow: 0 0 2em rgb(69, 69, 69);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em;
        flex-wrap: wrap;
        color: $third-color;
        text-align: center;

        h2 {
            font-size: 2em;
            width: 100%;
            text-decoration: underline;
        }

        .about-me-container {

            margin-top: 2em;

            img {
                width: 60vw;
                border-radius: 50%;
                box-shadow: 0 0 2em rgb(58, 49, 139);
            }

            section {
                margin: 2em auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                // Styling for resume button

                #resume-btn {
                    border: 1px solid $primary-color;
                    padding: 5px 10px;
                    border-radius: 12px;
                    color: $primary-color;
                    background-color: $third-color;
                    text-decoration: none;
                    font-weight: 400;
                    margin-top: 1em;
                    
                }

                #resume-btn:hover {

                    background-color: $secondary-color;
                    transition: 0.5s;
                }

            }

        }
    }
}
         
// Styling on screens 650px and wider

@media only screen and (min-width: $small) {

    body {
        
        main {

            max-width: 100vw;

            .about-me {

                width: 60vw;
                padding: 2em;

                .about-me-container {
                    display: flex;
                    justify-content: center;
                    gap: 1em;
                    margin: 1em;
                    padding-bottom: 2em;
                    flex-wrap: wrap;
                    align-items: center;
                    
                    img {

                        width: 300px;
                        height: 100%;
                    }

                    section {
                        
                        width: 50vw;
                        margin: 0;
                    }
                }
            }
        }
    }
}    

// Styling for screens 1100px and wider
            
@media only screen and (min-width: $medium) {

    body {

        main {

            .about-me {
                padding: 3em;
                margin: 4em auto;

                h2 {
                    border-bottom: 1px solid $third-color;
                    text-decoration: none;
                    margin: 0 0.5em 0.5em 0.5em;
                   
                }
    
                .about-me-container {

                    width: 100%;
                    height: 100%;
                    justify-content: space-between;
                    flex-direction: row;
                    margin: 1em 0 0 0;
                    padding: 0;

                    section {

                        height: 100%;
                        justify-content: space-around;
                        text-align: left;
                        width: 35vw;

                        #resume-btn {

                            align-self: flex-start;
                        }

                    }

                    img {

                        width: 20vw;
                    }
                }
            }
        }
    }
}    