@import "../../styles/components/footer";
@import "../../styles/components/header";
@import "../../styles/defaults/colors";
@import "../../styles/defaults/breakpoints";
@import "../components/utils";
@import "../../style";
  

// Style for widths less than 650px 

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .divide {
        
        h3 {
            padding: 1em;
        }

        .border {
        border-bottom: 1px solid $third-color;
        width: 60vw;
        }
    }

    .blog-container {
        background-color:  rgb(58, 49, 139, 0.7);
        border-radius: 8px;
        margin: 4em auto;
        width: 65vw;
        box-shadow: 0 0 2em rgb(69, 69, 69);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em;
        flex-wrap: wrap;
        text-align: center;

        .featured-blog {
            
            a {
                text-decoration: none;
                color: $third-color;
            }

            h2 {
                font-size: 2em;
                width: 100%;
                margin-top: 0;
            }
            
            .feature {
                display: flex;
                justify-content: center;
                margin-top: 2em;
                padding-bottom: 1em;

                img {
                    width: 60vw;
                    border-radius: 8px;
                }

                article {
                    width: 60vw;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
            .other-blogs {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 1em;
                margin: 0;

                .border {
                    border: 0;
                }
                .blog-list {
                    
                    a {
                        text-decoration: none;
                        color: $third-color;
                    }

                    .blog:hover {

                        background-color: $primary-color;
                        transition: 0.5s;
                    }

                    .blog {

                        width: 60vw;
                        border: 1px solid $third-color;
                        padding: 0;
                        margin: 1em auto 0 auto;
                        border-radius: 8px;
       
                    img {
                        width: 50vw;
                        border-radius: 8px;
                        margin-top: 2em;     
                    }

                    p {
                        padding: 0 1em;
                    }
                    }
                }    
            }
    }     
}

// Widths greater than 650px

@media only screen and (min-width: $small) {
        
    main {
        max-width: 100vw;

        .blog-container {

            .featured-blog {
                margin: 0 auto;
                width: 60vw;
                padding: 0;
                
                .feature {

                    h2 {
                        padding: 1em;
                    }
                    p {
                        padding: 1em;
                    }
                }
            }

            .other-blogs {
                margin: 1em auto 0 auto;   

                h3 {
                    margin: 1em;
                    border-bottom: 1px solid $third-color;
                    padding: 2em 0;
                    width: 100%;
                }

                .blog-list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1em;
                    justify-content: center;
                    
                    .blog {
                        width: 25vw;
                        border: 1px solid $third-color;
                        padding: 1em;
                        
                        img {
                            width: 25vw;
                            margin: 1em 0 0 0;
                        }
                    }
                }
            }
        }
    }
}    
   
// Widths greater than 1100px

@media only screen and (min-width: $medium) {

        main {

            .divide {
            
               .border {
                    width: 50vw;
                }
            }

            .blog-container {
                padding: 0;

                .featured-blog {
                    margin: 2em auto 0 auto;
                    height: 100%;
    
                    h2 {
                        padding: 0.5em;
                        margin: 0;
                    }
    
                    .feature {
                    
                        article {
                            width: 50vw;      
                        }
    
                        img {
                            width: 50vw;
                        }
                    }
                }

                .other-blogs {
                    margin: 0 1em 4em 1em;

                    .blog-list {
                        gap: 0;
    
                        .blog {
                            width: 10vw;
                            border: 1px solid $third-color;
                            margin: 2em 0.5em 0 0.5em;

                            img { 
                                width: 100%;
                               
                            }
                        }
                    }
                }
            }
        }
    }
  