@import "../../styles/defaults/colors";
@import "../../styles/components/header";
@import "../../styles/components/footer";
@import "../../styles/defaults/breakpoints";
@import "../../style";
  
/* Styling for all blog pages
    Text component 4- blog text  
    Responsive, different text-alignment on different screen widths.
    Colour, font and size overridden to match website theme. */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    .blog-container {
        background-color:  rgb(58, 49, 139, 0.7);
        border-radius: 8px;
        margin: 4em auto;
        width: 65vw;
        box-shadow: 0 0 2em rgb(69, 69, 69);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em;
        flex-wrap: wrap;

        h2 {
            margin: 0;
            padding-bottom: 1em;
            
        }

        #divider {
            width: 25px;
        }

        img {
            width: 60vw;
            border-radius: 8px;
        }

        article {
            width: 60vw;
            margin-top: 1em; 
            
            p {
                font-size: 1.1em;
            }
        }    
    }
}

@media only screen and (min-width: $small) {
        
    main {
        max-width: 100vw;

        .blog-container {
            flex-direction: column;
            margin: 10vh auto;
            width: 70vw;
            background-color:  rgb(58, 49, 139, 0.7);

            h2 {
                padding: 0 0 1em 0;
            }

            .blog-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 55vw;
                }

                article{
                    width: 60vw;;
                }               
            }
        }
    }    
}      

@media only screen and (min-width: $medium) {

    main {

        .blog-container {
            margin: 4em auto;
            width: auto;
            padding: 3em;
            width: 70vw;

            h2 {
                padding: 0 0 0.5em 0;
                border-bottom: 1px solid $third-color;
                width: 87%;
                text-align: center;
                margin-bottom: 0;
            }

            .blog-content {
                margin: 2em 1em 0 1.5em;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                img {
                    width: 25vw;
                    border-radius: 8px;
                    align-self: center;
                }

                article {
                    width: 35vw;
                    margin: 0 0 2em 2em;

                    p {
                    text-align: left;
                    margin: auto 0 0 0;
                    }
                }
            }
        }
    }
}    
      