@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,600;1,400;1,800&family=Sedgwick+Ave+Display&display=swap");
header {
  background-color: rgba(58, 49, 139, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 10px solid #cccccc;
}
header nav {
  display: none;
}
header .leftheader {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .leftheader h1 {
  margin: 0;
  padding: 0;
  color: #cccccc;
  font-size: 1.2em;
}
header .leftheader img {
  width: 80px;
  border-radius: 50%;
}
header .dropdown {
  position: relative;
  display: inline-block;
}
header .dropdown .dropbtn {
  background-color: rgba(58, 49, 139, 0);
  color: #1ac0c0;
  padding: 16px;
  font-size: 28px;
  transition: 0.35s ease-out;
  cursor: pointer;
}
header .dropdown .dropdown-content {
  position: absolute;
  top: 55px;
  right: -20px;
  font-size: 24px;
  text-align: center;
  background-color: rgba(58, 49, 139, 0.9);
  width: 100vw;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 100000;
  visibility: hidden;
  transition: 0.35s ease-out;
}
header .dropdown .dropdown-content a {
  color: #cccccc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header .dropdown .dropdown-content a:hover {
  background-color: #1ac0c0;
  color: rgb(58, 49, 139);
  transition: 0.35s;
}
header .dropdown:focus .dropdown-content {
  outline: none;
  transform: translateY(20px);
  visibility: visible;
}
header .dropbtn:hover, header .dropdown:focus .dropbtn {
  color: #cccccc;
  transition: 0.5s;
  cursor: pointer;
}

.dropdown .db2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
  display: none;
  cursor: pointer;
}

.dropdown:focus .db2 {
  display: inline-block;
}

.dropdown .db2:focus .dropdown-content {
  outline: none;
  visibility: hidden;
  opacity: 0;
}

@media screen and (min-width: 650px) {
  header .leftheader {
    margin-left: 3vw;
  }
  header .leftheader h1 {
    font-size: 1.5em;
  }
  header .navmenu {
    margin-right: 3vw;
  }
  .dropbtn {
    display: none;
  }
  .navmenu {
    display: flex;
  }
  .navmenu a {
    text-decoration: none;
    color: #cccccc;
    font-size: 1.3em;
    margin: 10px;
  }
  .navmenu a:hover {
    color: #1ac0c0;
    transform: scale(1.3);
    transition: 0.5s;
    text-decoration: underline;
  }
}
@media screen and (min-width: 1100px) {
  header .leftheader {
    margin-left: 5vw;
  }
  header .navmenu {
    margin-right: 5vw;
  }
}
footer {
  background-color: rgba(58, 49, 139, 0.7);
  padding: 0.7em;
  margin-top: auto;
  border-top: 10px solid #cccccc;
  height: 100%;
}
footer .socialmedia {
  display: flex;
  gap: 1em;
  justify-content: center;
}
footer .socialmedia a {
  color: #cccccc;
  font-size: 24px;
  text-decoration: none;
}

footer a:hover {
  color: #1ac0c0;
  transition: 0.5s;
}

header {
  background-color: rgba(58, 49, 139, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 10px solid #cccccc;
}
header nav {
  display: none;
}
header .leftheader {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .leftheader h1 {
  margin: 0;
  padding: 0;
  color: #cccccc;
  font-size: 1.2em;
}
header .leftheader img {
  width: 80px;
  border-radius: 50%;
}
header .dropdown {
  position: relative;
  display: inline-block;
}
header .dropdown .dropbtn {
  background-color: rgba(58, 49, 139, 0);
  color: #1ac0c0;
  padding: 16px;
  font-size: 28px;
  transition: 0.35s ease-out;
  cursor: pointer;
}
header .dropdown .dropdown-content {
  position: absolute;
  top: 55px;
  right: -20px;
  font-size: 24px;
  text-align: center;
  background-color: rgba(58, 49, 139, 0.9);
  width: 100vw;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 100000;
  visibility: hidden;
  transition: 0.35s ease-out;
}
header .dropdown .dropdown-content a {
  color: #cccccc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header .dropdown .dropdown-content a:hover {
  background-color: #1ac0c0;
  color: rgb(58, 49, 139);
  transition: 0.35s;
}
header .dropdown:focus .dropdown-content {
  outline: none;
  transform: translateY(20px);
  visibility: visible;
}
header .dropbtn:hover, header .dropdown:focus .dropbtn {
  color: #cccccc;
  transition: 0.5s;
  cursor: pointer;
}

.dropdown .db2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
  display: none;
  cursor: pointer;
}

.dropdown:focus .db2 {
  display: inline-block;
}

.dropdown .db2:focus .dropdown-content {
  outline: none;
  visibility: hidden;
  opacity: 0;
}

@media screen and (min-width: 650px) {
  header .leftheader {
    margin-left: 3vw;
  }
  header .leftheader h1 {
    font-size: 1.5em;
  }
  header .navmenu {
    margin-right: 3vw;
  }
  .dropbtn {
    display: none;
  }
  .navmenu {
    display: flex;
  }
  .navmenu a {
    text-decoration: none;
    color: #cccccc;
    font-size: 1.3em;
    margin: 10px;
  }
  .navmenu a:hover {
    color: #1ac0c0;
    transform: scale(1.3);
    transition: 0.5s;
    text-decoration: underline;
  }
}
@media screen and (min-width: 1100px) {
  header .leftheader {
    margin-left: 5vw;
  }
  header .navmenu {
    margin-right: 5vw;
  }
}
footer {
  background-color: rgba(58, 49, 139, 0.7);
  padding: 0.7em;
  margin-top: auto;
  border-top: 10px solid #cccccc;
  height: 100%;
}
footer .socialmedia {
  display: flex;
  gap: 1em;
  justify-content: center;
}
footer .socialmedia a {
  color: #cccccc;
  font-size: 24px;
  text-decoration: none;
}

footer a:hover {
  color: #1ac0c0;
  transition: 0.5s;
}

body {
  margin: 0;
  min-height: 100vh;
  max-width: 100vw;
  background: url("../../images/bgsquare.jpg") no-repeat center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: "Alegreya", serif;
  color: #cccccc;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
main .blog-container {
  background-color: rgba(58, 49, 139, 0.7);
  border-radius: 8px;
  margin: 4em auto;
  width: 65vw;
  box-shadow: 0 0 2em rgb(69, 69, 69);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  flex-wrap: wrap;
}
main .blog-container h2 {
  margin: 0;
  padding-bottom: 1em;
}
main .blog-container #divider {
  width: 25px;
}
main .blog-container img {
  width: 60vw;
  border-radius: 8px;
}
main .blog-container article {
  width: 60vw;
  margin-top: 1em;
}

@media only screen and (min-width: 650px) {
  main {
    max-width: 100vw;
  }
  main .blog-container {
    flex-direction: column;
    margin: 10vh auto;
    width: 70vw;
    background-color: rgba(58, 49, 139, 0.7);
  }
  main .blog-container h2 {
    padding: 0 0 1em 0;
  }
  main .blog-container .blog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .blog-container .blog-content img {
    width: 60vw;
  }
  main .blog-container .blog-content article {
    width: 60vw;
  }
}
@media only screen and (min-width: 1100px) {
  main .blog-container {
    margin: 4em auto;
    width: auto;
    padding: 3em;
    width: 70vw;
  }
  main .blog-container h2 {
    padding: 0 0 0.5em 0;
    border-bottom: 1px solid #cccccc;
    width: 90%;
    text-align: center;
    margin-bottom: 0;
  }
  main .blog-container .blog-content {
    margin: 0 1em 0 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  main .blog-container .blog-content img {
    width: 25vw;
    border-radius: 8px;
    align-self: center;
  }
  main .blog-container .blog-content article {
    width: 35vw;
    margin: 0 0 2em 2em;
  }
  main .blog-container .blog-content article p {
    text-align: left;
    margin: auto 0 0 0;
  }
}/*# sourceMappingURL=blog1.css.map */