@import "../../styles/defaults/colors";
@import "../../styles/components/header";
@import "../../styles/components/footer";
@import "../../styles/defaults/breakpoints";


body {
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
    background: url(../../images/bgsquare.jfif) no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: $third-color;
    
        main {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
    
            .blog-container {
                background-color:  rgb(58, 49, 139, 0.7);
                border-radius: 8px;
                margin: 4em auto;
                width: 65vw;
                box-shadow: 0 0 2em rgb(69, 69, 69);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2em;
                flex-wrap: wrap;



                img {
                    width: 60vw;
                    border-radius: 8px;
                }

                article {
                    width: 60vw;
                    margin-top: 1em;
                    
                    
                }    
            }

            
            
            }
        }


@media only screen and (min-width: $small) {

    body {
        
        main {

            max-width: 100vw;

            .blog-container {
                display: flex;
                flex-direction: column;
                margin: 10vh auto;
                width: 70vw;
                padding: 2em;
                background-color:  rgb(58, 49, 139, 0.7);

                .blog-content {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 50vw;
                }

                article{

                    width: 50vw;;
                }
                    
                }
    }
   
        
        }    
            
        }
    }    
    

@media only screen and (min-width: $medium) {

    body {

        main {

            .blog-container {
                margin: 4em auto;
                width: auto;
                padding: 3em;
                width: 70vw;

                h2 {

                    border-bottom: 1px solid $third-color;
                    width: 90%;
                    text-align: center;
                }

                .blog-content {
                    margin: 2em auto;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;


                    img {
                        width: 25vw;
                        border-radius: 8px;
                    }
    
                    article {
                        width: 35vw;
                        margin: 2em;

                        p {
                        text-align: left;
                        }
                    
                
                }

                }

               
            
            
            }
        }
    }
}    
      