@import "../../styles/components/footer";
@import "../../styles/components/header";
@import "../../styles/defaults/colors";
@import "../../styles/defaults/breakpoints";

body {
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
    background: url(../../images/bgsquare.jfif) no-repeat center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
        main {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

    
            .contact {
                background-color:  rgb(58, 49, 139, 0.7);
                border-radius: 8px;
                text-align: center;
                font-size: 1.2em;
                color: $third-color;
                margin: 4em;
                box-shadow: 0 0 2em rgb(69, 69, 69);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1.2em;

                .contact-container {

                    .email, .address, .phone {
                        margin-bottom: 2em;
                    }
                }

                h2 {
                   margin: 0.5em;
                   text-decoration: underline;
                }

                section {
                    padding-bottom: 2em;
                    margin: 0.5em auto 2em auto;
                    border-bottom: 1px solid $third-color;
                    width: 80%;
                }

                    img {
                        width: 100px;
                        border-radius: 50%;
                    }

                    h3, p {
                        padding: 0;
                        margin: 0.5em;
                    }
                }
                
                }    
            }

            
            
            



@media only screen and (min-width: $small) {

    body {
        
        main {

            max-width: 100vw;

            .contact {
                margin: 10vh auto;
                width: 60vw;
                padding: 2em;
                background-color:  rgb(58, 49, 139, 0.7);

                h2 {
                    margin-bottom: 1vh;
                }

                .contact-container {

                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    .email, .phone, .address {

                        width: 200px;
                    }
                }

               

        }
    }   
            
        }
    }    
    

@media only screen and (min-width: $medium) {

    body {

        main {

            .contact {
                margin: 4em auto;
                width: 60vw;

                .contact-container {
                    width: 100%;
                    justify-content: space-evenly;
                }
                
            
            }
            
            
            }
        }
    }  
            