@import "../defaults/colors";
@import "../components/utils";
@import "../defaults/breakpoints";

footer {
    background-color:  rgb(58, 49, 139, 0.7);
    padding: 0.7em;
    margin-top: auto;
    border-top: 10px solid $third-color;
    height: 100%;

    .socialmedia {
        display: flex;
        gap: 1em;
        justify-content: center;

        a {
            color:$third-color;
            font-size: 24px;
            text-decoration: none;
        }
    } 
}   

footer a:hover {
  color: $secondary-color;
  transition: 0.5s;
} 
