@import "../defaults/colors";
@import "../components/utils";
@import "../defaults/breakpoints";

footer {
    background-color:  rgb(58, 49, 139, 0.7);
    padding: 10px;
    margin-top: auto;
    border-top: 10px solid $third-color;


    .socialmedia {
        display: flex;
        gap: 1em;
        justify-content: center;

        a {
            color:$third-color;
            font-size: 24px;
            text-decoration: none;
        }

    }
      
}   
  
footer a:hover {
  color: $secondary-color;
  transform: scale(1.3);
  transition: 0.5s;
  box-shadow: 0 0 20px 5px $secondary-color;
  border-radius: 100%;
} 

@media only screen and (min-width: $small) {

    footer {

        .socialmedia {
            gap: 2em;
        }
    }
}