@import "../defaults/colors";
@import "../components/utils";
@import "../defaults/breakpoints";

header {
    background-color:  rgb(58, 49, 139, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 10px solid $third-color;

    nav {
        display: none;
    }

    .leftheader {
        display: flex;
        align-items: center;
        gap: 20px;

        .hidden {
            display: none;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s;
        }

        h1 {
            margin: 0;
            padding: 0;
            color: $third-color;
            font-size: 32px;
        }

        img {
            width: 80px;
            border-radius: 50%;
          }

      }
    .dropdown {
      position: relative;
      display: inline-block;

        .dropdown-content {
            display: none;
            position: absolute;
            background-color:  rgb(58, 49, 139, 0.7);
            text-align: center;
            right: -10px;
            font-size: 24px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

            .socialmedia {
                display: flex;
                justify-content: center;

                #github:hover a, #li:hover a {
                    transition: 0.5s;
                    background:none;
                    color: $secondary-color;
                }
            } 
        }
        .dropdown-content a {
            color:$third-color;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: $secondary-color;
            color: $primary-color;
            transition: 0.5s;
        }

        #dropbtn {
            background-color:  rgb(58, 49, 139, 0.0);
            color:$secondary-color;
            padding: 16px;
            font-size: 36px;
            border: none;
        }   

        #dropbtn:hover {
            font-size: 48px;
            transform: rotate(90deg);
            transition: 1s;
            display: block;
        }
    }
}
  
.dropdown:hover .dropdown-content {
  display: block;
  width: 100vw;
  
}

@media screen and (min-width: $small) {
    #dropbtn {
        display: none;
    }

    .navmenu {
        display: flex;
        
        a {
            text-decoration: none;
            color: $third-color;
            font-size: 20px;
            margin: 10px;
        }
        a:hover {
            color: $secondary-color;
            transform: scale(1.3);
            transition: 0.5s;
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: $medium) {
    header {
        
        .leftheader {
            margin-left: 2em;
        }

        .navmenu {
            margin-right: 2em;
        }
    }
}