@import "../defaults/colors";
@import "../components/utils";
@import "../defaults/breakpoints";

// Styling of the header bar

header {
    background-color:  rgb(58, 49, 139, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 10px solid $third-color;

    // Hiding the nav menu on smaller screens 

    nav {
        display: none;
    }

    .leftheader {
        display: flex;
        align-items: center;
        gap: 20px;

        h1 {
            margin: 0;
            padding: 0;
            color: $third-color;
            font-size: 1.2em;
        }

        img {
            width: 80px;
            border-radius: 50%;
        }
    }

    // Dropdown menu styling

    .dropdown {
      position: relative;
      display: inline-block;

        .dropbtn {
            background-color:  rgb(58, 49, 139, 0.0);
            color: $secondary-color;
            padding: 16px;
            font-size: 28px;
            transition: 0.35s ease-out;
            cursor: pointer;
        }

        .dropdown-content {
          position: absolute;
          top: 55px;
          right: -20px;
          font-size: 24px;
          text-align: center;
          background-color:  rgb(58, 49, 139, 0.9);
          width: 100vw;
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
          z-index: 100000;
          visibility: hidden;
          transition: 0.35s ease-out;
  
            a {
                color:$third-color;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
  
            a:hover {
              background-color: $secondary-color;
              color: $primary-color;
              transition: 0.35s;
            }  
          } 
      }

    .dropdown:focus .dropdown-content {
      outline: none;
      transform: translateY(20px);
      visibility: visible;
    }

    .dropbtn:hover, .dropdown:focus .dropbtn { 
      color: $third-color;
      transition: 0.5s;
      cursor: pointer;
    }

    }

    .dropdown .db2 {
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0; opacity: 0;
      z-index: 10;
      display: none;
      cursor: pointer;
    }

    .dropdown:focus .db2 {
      display: inline-block;
    }

    .dropdown .db2:focus .dropdown-content {
      outline: none;
      visibility: hidden;
      opacity: 0;
    }

@media screen and (min-width: $small) {

    header {

        .leftheader {
            margin-left: 3vw;

            h1 {
                font-size: 1.5em;
            }
        }

        .navmenu {
            margin-right: 3vw;
        }
    }

    // Hiding dropdown button on wider screens and displaying the navmenu instead

    .dropbtn {
        display: none;
    }

    .navmenu {
        display: flex;
        
        a {
            text-decoration: none;
            color: $third-color;
            font-size: 1.3em;
            margin: 10px;
        }
        a:hover {
            color: $secondary-color;
            transform: scale(1.3);
            transition: 0.5s;
            text-decoration: underline;
        }
    }
}

// Larger left and right margins for 1100px width and above

@media screen and (min-width: $medium) {
    header {
        
        .leftheader {
            margin-left: 5vw;
        }

        .navmenu {
            margin-right: 5vw;
        }
    }
}