@import "../defaults/colors";
@import "../components/utils";
@import "../defaults/breakpoints";


/*  Header contains text components 1 & 2, graphical component 1

    Graphical component 1 is the pixel cat image in the top left with my name under ".logo"
    Image is a fixed size on all screens styled in a circle with border-radius and added drop-shadow.
    Text in my name changes size wider than 650px screen width.

    Text component 1
    On screens less than 650px, a hamburger icon with a dropdown menu appears and the main 
    nav bar displayed on wider screens is hidden.
    The dropdown menu icon is styled with colour/ sizing/ hover/ focus
    The menu that appears has been styled to appear in the correct place on focus/click with
    a nice transition, styled for 100 viewport width, is slightly less transparent. Text links
    have been styled to match site with colour, font-size, background hover. 
    
    Text component 2
    On screens wider than 650px, the hamburger/dropdown menu disappears and a nav bar takes it's place.
    Text is styled to match my website in font colour, colour change on hover. 
    Flexbox is used to align the text in the position I want.    */

header {
    background-color:  rgb(58, 49, 139, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 10px solid $third-color;

    nav {
        display: none;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 20px;

        h1 {
            margin: 0;
            padding: 0;
            color: $third-color;
            font-size: 1.2em;
        }

        img {
            width: 80px;
            border-radius: 50%;
            box-shadow: 0 0 2em rgb(58, 49, 139);
        }
    }

    .dropdown {
      position: relative;
      display: inline-block;

        .dropbtn {
            background-color:  rgb(58, 49, 139, 0.0);
            color: $third-color;
            padding: 16px;
            font-size: 28px;
            transition: 0.35s ease-out;
            cursor: pointer;
        }

        .dropdown-content {
          position: absolute;
          top: 55px;
          right: -20px;
          font-size: 24px;
          text-align: center;
          background-color:  rgb(58, 49, 139, 0.9);
          width: 100vw;
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
          z-index: 100000;
          visibility: hidden;
          transition: 0.35s ease-out;
  
            a {
                color:$third-color;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }
  
            a:hover {
              background-color: $secondary-color;
              color: $primary-color;
              transition: 0.35s;
            }  
          } 
      }

    .dropdown:focus .dropdown-content {
      outline: none;
      transform: translateY(20px);
      visibility: visible;
    }

    .dropbtn:hover, .dropdown:focus .dropbtn { 
      color: $secondary-color;
      transition: 0.5s;
      cursor: pointer;
    }

    }

    .dropdown .dd-mask {
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0; opacity: 0;
      z-index: 10;
      display: none;
      cursor: pointer;
    }

    .dropdown:focus .dd-mask {
      display: inline-block;
    }

    .dropdown .dd-mask:focus .dropdown-content {
      outline: none;
      visibility: hidden;
      opacity: 0;
    }

@media screen and (min-width: $small) {

    header {

        .logo {
            margin-left: 3vw;

            h1 {
                font-size: 1.5em;
            }
        }

        .navmenu {
            margin-right: 3vw;
            display: flex;
        
        a {
            text-decoration: none;
            color: $third-color;
            font-size: 1.3em;
            margin: 10px;
        }
        a:hover {
            color: $secondary-color;
            transform: scale(1.3);
            transition: 0.5s;
            text-decoration: underline;
        }
        }
    }

    .dropbtn {
        display: none;
    }
}


@media screen and (min-width: $medium) {
    header {
        
        .logo {
            margin-left: 5vw;
        }

        .navmenu {
            margin-right: 5vw;
        }
    }
}