@import "../defaults/colors";
@import "../components/dropdown";
@import "../defaults/breakpoints";
@import "../components/navbar";


/*  Header contains text components 1 & 2, graphical component 1

    Graphical component 1 is the pixel cat image in the top left with my name under ".logo"
    Image is a fixed size on all screens styled in a circle with border-radius and added drop-shadow.
    Text in my name changes size wider than 650px screen width.
    
    Text component 2
    On screens wider than 650px, the hamburger/dropdown menu disappears and a nav bar takes it's place.
    Text is styled to match my website in font colour, colour change on hover. 
    Flexbox is used to align the text in the position I want.    */

header {
    background-color:  rgb(58, 49, 139, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 10px solid $third-color;

    .logo {
        display: flex;
        align-items: center;
        gap: 20px;

        h1 {
            margin: 0;
            padding: 0;
            color: $third-color;
            font-size: 1.2em;
        }

        img {
            width: 80px;
            border-radius: 50%;
            box-shadow: 0 0 2em rgb(58, 49, 139);
        }
    }
}

@media screen and (min-width: $small) {

    header {

        .logo {
            margin-left: 3vw;

            h1 {
                font-size: 1.5em;
            }
        }
    }
}

@media screen and (min-width: $medium) {
    header {
        
        .logo {
            margin-left: 5vw;
        }

        .navmenu {
            margin-right: 5vw;
        }
    }
}